# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
logs/**/*.log

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/

# Editor/IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Miscellaneous
coverage/
*.bak
*.tmp

# Dependency directories
.pnp
.pnp.js

# TypeScript
*.tsbuildinfo

# Optional: Ignore generated static files
static/
public/

venv/